ENVIRONMENT=development
DB_SOURCE=user:password@tcp(localhost:3306)/lms_db?parseTime=true
REDIS_URL=redis://localhost:6379/0
RABBITMQ_URL=amqp://guest:guest@localhost:5672/
SERVER_ADDRESS=0.0.0.0:8085
WORKER_ID=5000
TOKEN_SYMMETRIC_KEY=supersecretkeythatshouldbe32byteslong
ACCESS_TOKEN_DURATION=15m
REFRESH_TOKEN_DURATION=720h
AWS_REGION=us-east-1
S3_BUCKET_NAME=my-lms-files
FILE_STORAGE_PATH=/var/app/files
EMAIL_SENDER_NAME=LMS Notifications
EMAIL_SENDER_ADDRESS=notify@myapp.com
EMAIL_SENDER_PASSWORD=your-email-password
DOMAIN=https://myapp.com
ALLOWED_ORIGINS=  https://myapp.com, http://localhost:3000
LOG_FILE_PATH=/var/log/lms/app.log
